<div class="card text-center">
  <div class="card-header">
    {{ request.user}}
  </div>
  <div class="card-body">
    <h6 class="card-text">{{ request.user.first_name}}</h6>
    <h6 class="card-text">{{ request.user.last_name}}</h6>
    <h6 class="card-text">{{ request.user.phone_number}}</h6>


    <a href="{% url 'profile' %}"class="btn btn-primary">Update profile</a>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'logout' %}"  class="btn btn-secondary">Log out</a>
  </div>
</div>

